body{
  background-image: background.jpg
  }

*{
  box-sizing: border-box;
  margin:0
}

.lunghezza{
  width: 65px;
}

.lunghezza2{
  width: 140px;
}

.lunghezza3{
  width: 90px;
}

.contenitore{
  width: 1000 px;
  margin: auto;
}


.logo{
  width:300px;

  margin: auto;
}

#speciale1{
  font-size: 50px;
  color: green;
  text-align: center;
}

footer{
  text-align: center;
}

span{
  font-style: italic;
  font-size: 25px

}
